venv/
.venv/
node_modules/
result.txt
.env
bun.lockb
lesson-3/input.ts
payload.json
lesson-6/transcripts.md
lesson-6/przesluchania/
lesson-7/images
lesson-7-flag/image.png
lesson-9/data
lesson-10/arxiv.txt
lesson-10/arxiv-draft.html
lesson-10/descriptions
lesson-10/images
lesson-10/answers.json
lesson-11/facts/
lesson-11/data/