venv/
.venv/
node_modules/
result.txt
.env
bun.lockb
lesson-3/input.ts
payload.json
lesson-6/transcripts.md
lesson-6/przesluchania/
lesson-7/images
lesson-7-flag/image.png
lesson-9/data
lesson-10/arxiv.txt
lesson-10/arxiv-draft.html
lesson-10/descriptions
lesson-10/images
lesson-10/answers.json
lesson-11/facts/
lesson-11/data/
lesson-14/data/
lesson-16/.env
lesson-16/transcripts.txt
lesson-16/photos/
lesson-17/lab_data/
lesson-17/output.jsonl
lesson-18/visited_urls.txt
lesson-18/questions.md
lesson-18/pages/